<div class="container-fluid root-container">
  <section class="section text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo-full.png" alt="ngx-rocket logo"/>
      <div translate>Build incredible apps in record time!</div>
    </h1>
  </section>

  <section class="section section-key-points">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Easier, Better, Faster, Stronger</h2>
        <div class="lines"></div>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!
          Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="item-boxes">
            <img class="icon" src="assets/ngx-rocket-logo.png" alt=" logo"/>
            <h4>App generator</h4>
            <p>Extensible Angular 5+ enterprise-grade project generator based on angular-cli with best practices from
              the community.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item-boxes">
            <img class="icon" src="assets/ngx-rocket-logo.png" alt=" logo"/>
            <h4>Design and layout</h4>
            <p>Bootstrap, Angular Material or even Ionic are available, you just have to choose one.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item-boxes">
            <img class="icon" src="assets/ngx-rocket-logo.png" alt=" logo"/>
            <h4>PWA and Cordova support</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-get-started">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Get started</h2>
        <div class="lines"></div>
        <p class="section-subtitle">Generate and start your first app in 2 minutes.</p>
      </div>
      <div class="terminal-container">
        <div class="terminal">
          <div>$ npm install -g generator-ngx-rocket</div>
          <div>$ ngx new</div>
          <div>$
            <span class="question">?</span>
            <span class="generator-text">What's the name of your app?</span>
            <span class="answer">Demo App</span>
          </div>
          <div>$
            <span class="question">?</span>
            <span class="generator-text">What kind of app do you want to create?</span>
            <span class="answer">Web app</span>
          </div>
          <div>$
            <span class="question">?</span>
            <span class="generator-text">Do you want a progressive web app? (with manifest and service worker)</span>
            <span class="answer">Yes</span>
          </div>
          <div>$
            <span class="question">?</span>
            <span class="generator-text">Which UI framework do you want?</span>
            <span class="answer">Bootstrap (more website-oriented)</span>
          </div>
          <div>$
            <span class="question">?</span>
            <span class="generator-text">Do you want authentication? </span>
            <span class="answer">Yes</span>
          </div>
          <div>$ npm start</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-whats-in-the-box">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">What's in the box?</h2>
        <div class="lines"></div>
        <p class="section-subtitle">The app template is based on HTML5, TypeScript and Sass. The translation files use the common JSON format.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 box-container">
          <img class="" src="assets/ngx-rocket-whats-in-the-box.png" alt="ngx-rocket box"/>
        </div>
        <div class="col-sm-12 col-md-8">
          <div>Typescript</div>
          <div>Sass</div>
          <div>Translation system</div>
          <div>Some much things in it!</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-company-logo">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">They<i class="fa fa-heart red-heart" aria-hidden="true"></i>it</h2>
        <div class="lines"></div>
        <p class="section-subtitle">Some of the companies already using it.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
          <img class="company-logo" src="assets/company-logo/thales.svg" alt="thales logo"/>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <img class="company-logo" src="assets/company-logo/thales.svg" alt="thales logo"/>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <img class="company-logo" src="assets/company-logo/thales.svg" alt="thales logo"/>
        </div>

      </div>
      <div class="section-header">
        <p class="section-subtitle">Wants to add your company to the list? <a href="">Just click here</a></p>
      </div>
    </div>
  </section>
</div>
