@import "src/theme/theme-variables";

.root-container {
  padding: 0;
}

.logo {
  width: 100%;
  max-width: 500px;
  padding: 0 12px;
}

.icon {
  width: 100px;
}

.section {
  padding: 80px 0;
}

.section-header {
  color: $white;
  margin-bottom: 40px;
  text-align: center;
}

.section-footer {
  color: $white;
  text-align: center;
}

.section-header .section-title,
.section-footer .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  position: relative;

  span {
    color: map-get($theme-colors, primary);
  }
}

.section-header .section-subtitle,
.section-footer .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.section-header .lines {
  width: 70px;
  position: relative;
  border-top: 2px solid map-get($theme-colors, primary);
  margin: 15px auto auto;
}

.section-ngx-rocket-logo {
  position: relative;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/background-blur.jpg") no-repeat;
  background-size: cover;

  h1 {
    color: $white;
  }
}

.section-key-points {
  background-color: $gray-100;
}

.section-get-started {
  min-height: 500px;
  background-color: map-get($theme-colors, primary);
  color: $white;

  .section-header .section-title {
    color: $white;
  }

  .section-header .lines {
    border-top: 2px solid $white;
  }

  .section-header .section-subtitle {
    color: $white;
  }

  .terminal-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .terminal {
      line-height: 30px;
      letter-spacing: 0.0625em;
      font-weight: 100;
      width: 100%;
      max-width: 720px;
      padding: 16px;
      background: $gray-800;
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }

    .question {
      color: $yellow;
    }

    .generator-text {
      color: $gray-500;
    }

    .answer {
      color: $blue;
    }
  }
}

.section-whats-in-the-box {
  background-color: $gray-100;

  .box-container {
    display: flex;
    justify-items: center;
  }
}

.section-medium {
  background-color: map-get($theme-colors, primary);

  .section-header .section-title,
  a,
  .section-header .section-subtitle {
    color: $white;
    text-decoration: none;
  }

  .section-header .lines {
    border-top: 2px solid $white;
  }

  .cards-container {
    display: flex;
    justify-content: center;

    .card {
      color: $gray-700;
      max-width: 500px;
    }
  }
}

.section-company-logo {
  min-height: 500px;

  .red-heart {
    margin: 0 12px;
    color: $red;
  }

  .company-row {
    display: flex;
    align-items: center;
    margin: 0 10px;

    .company-logo {
      width: 70%;
      padding: 10px;
    }
  }
}

.section-browser-logo {
  background-color: $gray-100;

  .browser-logo {
    height: 80px;
  }
}

.footer {
  background-color: $gray-100;
  min-height: 0;
  border-top: 1px solid $gray-300;
  padding: 12px 0;
  color: $gray-800;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;

  a {
    color: $gray-800;
  }
}

.item-boxes {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 15px;

  .icon {
    height: 90px;
    font-size: 70px;
    color: map-get($theme-colors, primary);
  }
}

.item-boxes h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
